[submodule "Kadet/Xmpp"]
	path = Kadet/Xmpp
	url = https://github.com/kadet1090/Xmpp.git
[submodule "Kadet/Utils"]
	path = Kadet/Utils
	url = https://github.com/kadet1090/Utils.git
[submodule "Kadet/SocketLib"]
	path = Kadet/SocketLib
	url = https://github.com/kadet1090/SocketLib.git
